---
layout: base
pagination:
  data: collections.all
  size: 5
  alias: posts
---

{%- for post in posts -%}

    <article id={{ post.url }}" class="mv4  ba b--light-gray bg-white pa2 pa5-l">
        <h2>
            <a href="{{ post.url  }}" class="link black">
                {{ post.data.published | date }}
            </a>
        </h2>
        <img class="w2 v-mid br2" src="https://www.countryflags.io/{{post.data.location.countryCode}}/flat/64.png">
        <span>{{ post.data.location.name }}</span>
        <p>
            {{ post | excerpt }}
        </p>

        <br />

        <footer class="mv2 ttc">
            <a href="{{ post.url  }}" class="link f6 black ba b--light-gray pa3 almost-black">
                Continue reading
            </a>
        </footer>

    </article>

{%- endfor -%}

