---
layout: base
pagination:
  data: collections.all
  size: 5
  alias: posts
---

<section class="pv5-l ph6-l flex flex-wrap">

    <section class="fl sticky w-100 pv4 w-30-l mv4 tc tl-l ph3 ph5-l near-black top-2-l self-start">
        <header>
            <h1>LocosRaros</h1>
        </header>
        <br />
        <hr class="white" />
        <section class="pa2">
            <a href="#" class="link dim near-black db mv1">
                <img class="v-mid" src="https://www.countryflags.io/co/flat/24.png">
                Colombia
            </a>
            <a href="#" class="link dim near-black db mv1">
                <img class="v-mid" src="https://www.countryflags.io/ec/flat/24.png">
                Ecuador
            </a>
        </section>
        <hr class="white" />
        <br />
        <article class="pv3-l">
            <h2>About</h2>
            <p>Somos una pareja de locos raros viajando el mundo buscando recuerdos.</p>
        </article>
        <small class="light-silver">&#169; Jesse Kelly, 2021</small>
    </section>

    <section class="fl w-100 w-70-l mv4">
        {%- for post in posts -%}
            <article id={{ post.url }}" class="br2 mb4 ba b--light-gray bg-white pa2 pa4-l">
                <h1>{{ post.data.title }}</h1>
                <small>{{ post.data.published | date }}</small>
                <br />
                <br />
                <hr class="light-gray" />
                <img class="w-100 br1 mv3" src="{{ post.data.banner }}"/>
                <p>{{ post | excerpt }}</p>
                <a href="{{ post.url }}" class="link mv4 db orange dim">Keep reading</a>
            </article>
        {%- endfor -%}
    </section>

</section>









